@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hidden::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .scroll-hidden {
    scrollbar-width: none;
  }
  
  /* Ensure the container is scrollable */
  .scroll-hidden {
    overflow-x: auto;
    /* Add more styles as needed */
  }

  @import url('https://fonts.googleapis.com/css2?family=Bitter:ital@1&family=Mooli&family=Nunito&display=swap');

.font-nunito{font-family: 'Nunito', sans-serif}